.DS_Store
.nyc_output
.env
.nvmrc
.idea
.eslintignore
.eslintrc
.prettierignore
.prettierrc

*.log
*.md

Dockerfile
docker-compose.yml

.git
.circleci
.vscode

coverage
dist
documents
**/node_modules
scripts
tests
