EMAIL_ORG_ADMIN_1=
PW_ORG_ADMIN_1=
EMAIL_ORG_ADMIN_2=
PW_ORG_ADMIN_2=
EMAIL_SCHOOL_ADMIN_1=
PW_SCHOOL_ADMIN_1=
ID_SCHOOL_ADMIN_1=
EMAIL_TEACHER_1=
PW_TEACHER_1=
ID_TEACHER_1=
EMAIL_STUDENT_1=
PW_STUDENT_1=
ID_STUDENT_1=
EMAIL_PARENT_1=
PW_PARENT_1=
ID_PARENT_1=
SERVICE_URL=https://api.loadtest.kidsloop.live/user/
AUTH_URL=https://auth.loadtest.kidsloop.live/
AUTH_SIGN_IN_URL=https://auth.dev.badanamu.net/v1/login
ORG_ID=360b46fe-3579-42d4-9a39-dc48726d033f
ROLE_ID_ORG_ADMIN=23d899cd-862e-4bb6-8e57-761d701bc9fb
ROLE_ID_SCHOOL_ADMIN=f70038dd-0361-4f19-8d50-5e42997a6280
ROLE_ID_TEACHER=893f28d2-69f1-4dc5-aa37-a04b9a8d90b9
ROLE_ID_STUDENT=fd37310d-5ced-4dda-9968-c6cb084a542b
ROLE_ID_PARENT=f1a2083a-7f77-4ec8-b64a-def6952bf807
EMAIL_DOMAIN=
EMAIL_USER_NAME_1K=
ID_ORG_ADMIN_1=
TEACHER_USERNAME=
STUDENT_USERNAME=

LIVE_URL=https://kl2.loadtest.kidsloop.live/v1/

SCHEDULES_TIME_VIEW_URL=https://kl2.loadtest.kidsloop.live/v1/schedules_time_view/list
SCHEDULE_FILTER_PROGRAM_URL=https://kl2.loadtest.kidsloop.live/v1/schedules_filter/programs
SCHEDULE_FILTER_CLASS_URL=https://kl2.loadtest.kidsloop.live/v1/schedules_filter/classes

SCHEDULES_URL=https://kl2.loadtest.kidsloop.live/v1/schedules
CLASS_ID=05327233-bebe-4506-b87d-da50368cf75d
LESSON_PLAN_ID=6193b6fe0d0935f062be64ad
PROGRAM_ID=4d5b9056-5a6f-40bf-8602-7f8934aef045
SUBJECT_ID=36c4f793-9aa3-4fb8-84f0-68a2ab920d5a
TEACHER_ID_1=
CLASS_STUDENT_ID_1=
CLASS_STUDENT_ID_2=